<form name='choice' method="post">
	{% csrf_token %}
	<!-- <label>Evaluation</label>
        {{ form.evaluation }}
    <label>Target Audience</label>
        {{ form.target_audience }}
    <label>Type of Exercise</label>
        {{ form.type_of_exercise }} -->
   <!--  <div>
    <label>Program</label>
    {{ form.program }}
    </div>
    <div>
    <label>Type of Exercise</label>
    {{ form.type_of_exercise }}
    </div>
    <div>
    <label>Target Audience</label>
    {{ form.target_audience }}
    </div>
    <div>
    <label>Description of Program</label>
    {{ form.description_of_program }}
    </div>
    <div>
    <label>Evaluation</label>
    {{ form.evaluation }}
    </div>
    <div>
    <label>Developed By</label>
    {{ form.developed_by }}
    </div>
    <div>
    <label>References</label>
    {{ form.references }}
    </div>

    
</form> -->


	<!-- {{ form.as_p }} -->

	{% for field in form %}
	    <div class="fieldWrapper">
	        {{ field.errors }}
	        {{ field.label_tag }} {{ field }}
	    </div>
	{% endfor %}
	<br>
	<input type="submit" value="Submit" />

</form>
