<!DOCTYPE html>

<html>
	<head>
		<title>Body 101 Programs</title>
		<style type="text/css">
			body {
				font-family: sans-serif;
				margin: 0 auto;
				text-align: center;
				}
			table {
				max-width: 600px;
			}
			th {
				padding-right: 5px;
				border: 1px solid #ddd;
			}
			td {
				font-size: 12px;
				min-width: 100px
			}
			.programs {
				margin: 0 auto;
			}

			.filters {
				margin-bottom: 20px;
			}
		</style>
	</head>

	<body>
		<h1>
			Body 101 Programs
		</h1>
		<div class="content" style="display:block">
			<h3>
				Program Search
			</h3>
			<div>
				<a href="form">Add a program</a>
			</div>
			<div class="filters">
				<form method="post">
					{% csrf_token %}
					<div class="dropdown_exercise" style="display:inline-block;padding-right:20px">
						<label>Type of Exercise</label>
        					{{ form.type_of_exercise }}
					</div>
					<div class="dropdown_audience" style="display:inline-block;padding-right:20px">
						<label>Target Audience</label>
        					{{ form.target_audience }}
					</div>
					<div class="dropdown_evaluation" style="display:inline-block;padding-right:20px">
						<label>Evaluation</label>
        					{{ form.evaluation }}
					</div>
					<div class="submit_button" style="display:inline-block;">
						<input type="submit" value="Search" class="form-submit">
					</div>
				</form>
				</div>
			<div class="table_of_programs">
				<table class="programs">
					<thead>
						<tr>
							<th>Program</th>
							<th>Type of Exercise</th>
							<th>Target Audience</th>
							<th>Description of Program</th>
							<th>Evaluation</th>
							<th>Developed By</th>
							<th>References</th>
						</tr>
					</thead>
					<tbody>
							{% if output %}
								
								{% for item in output %}
									<tr>
									<td>{{item.program}}</td>
									<td>{{item.type_of_exercise}}</td>
									<td>{{item.target_audience}}</td>
									<td>{{item.description_of_program}}</td>
									<td>{{item.evaluation}}</td>
									<td>{{item.developed_by}}</td>
									<td>{{item.references | safe}}</td>
									</tr>
								{% endfor %}
								
							{% endif %}
						
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>
